.custom-body{
        padding: 0.5rem !important;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px){
header, main, footer {
    padding-left: 0;
}}

@media only screen and (min-width: 993px){
.container {
    width: 85%;
}}
@media only screen and (min-width: 993px){
.container {
    width: 85%;
    
}}

#materialbox-overlay {
    background-color: rgba(41, 41, 41, 0.86) !important;
}

#reservas td{
        padding: 0px 5px;
    
}

#map{
    width: 100%;
    height:100%;
}

.thumbnail {
  position: relative;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  border: 5px solid #004d40;
    border-radius: 6px;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.top{
    margin-top: 15px;
}



.modal-overlay {
   
    z-index: 1000 !important;
   
  
}

.modal {
    z-index: 1001 !important;
}

.sidenav-overlay {

     z-index: 0 !important;
   
}

.login{
    /*background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-shadow: 0px 0px 134px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 134px 5px rgba(0,0,0,1);
    box-shadow: 0px 0px 134px 5px rgba(0,0,0,1);
    background-size: 30%;
*/
}

html,body, .contenedor{
    height:100%;
}

body, .contenedor{
  margin:0;
  padding:0;
 
}

.index{
    margin:0;
    padding:0;
    min-height:100%;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: 30%;
    
}
#login{
   
    background-color: rgba(23, 23, 23, 0.77) !important;
    color: white;
}

.iconHead{
        /* width: 2rem; */
    font-size: 1.6rem;
    line-height: 1.5rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 8px;
    color: #9e9e9e;
}

.icon_club{
    width: 160px;
    height: 160px;
    font-size: 160px;
}

.img_club{
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: 160px;
    height: 160px;
    margin: 4px 0px 0px 3px;
}

.action_icons{
    float: left;
    margin: 0px 6px 0px 0px;
}

.panel-img{
    height: 300px;
    width: auto;
}

span.titulo{
    font-size: 25px !important;
}

.card_club{
 max-width: 160px !important;   
 max-height: 160px !important;
 
}