<header> 
      <ul id="slide-out" class="side-nav fixed " style="transform: translateX(0%);" >
          <li>
              <div class="userView">
                <div class="background">
                  <img src="img/menuBG.png">
                </div>
                <a href=""><img class="circle" src="img/profile.png"></a>
                <a href=""><span class="white-text name">John Doe</span></a>
                <a href=""><span class="white-text email">jdandturk@gmail.com</span></a>
                
              </div>
          </li>
            


              
          
          <li>
              <div class="divider"></div>
          </li>


          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>


          
          <ul class="collapsible" data-collapsible="accordion">
              
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/profile">
                      <i class="material-icons">
                        perm_identity
                      </i>
                      Perfil
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/lugares">
                      <i class="material-icons">
                        location_on
                      </i>Lugares
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/equipos">
                      <i class="material-icons">
                        security
                      </i>Mis Equipos
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/rivales">
                      <i class="material-icons">
                        gps_fixed
                      </i>Equipos Rivales
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/misRetos">
                      <i class="material-icons">
                        group
                      </i>Mis Retos
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/meReta">
                      <i class="material-icons">
                        person_add
                      </i>Me reta
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/misReservas">
                      <i class="material-icons">
                        today
                      </i>Mis Reservas
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/misReservas/historicos">
                      <i class="material-icons">
                        unarchive
                      </i>Historial De Reservas
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/reservar">
                      <i class="material-icons">
                        schedule
                      </i>Realizar Reserva
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              
              <li>
                    <a class="collapsible-header waves-effect waves-teal" href="user/busquedaAvanzada">
                      <i class="material-icons">
                        search
                      </i>Busqueda Avanzada
                    </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              
              
             <li>
                <a class="collapsible-header waves-effect waves-teal" href="logout">
                    <i class="material-icons">exit_to_app</i>
                    Cerrar Sesion
                </a>
            </li>
         
          </ul>
      </ul>
      
      
      <nav class="top-nav navbar-fixed  teal darken-4">
          <div class="container">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
              <i class="material-icons">menu</i>
              </a>
          </div>
          
          <div class="container">
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo center">Mi Cancha</a>
                  <ul class="right hide-on-med-and-down">
                      <li>
                          <a class="dropdown-button" data-activates='dropdown1' dropdown data-hover="true">Notificaciones
                              <span class="new badge">1</span>
                              <i class="material-icons right">arrow_drop_down</i>
                          </a>
                      </li>
                  </ul>
              </div>
            </div>
      </nav>
</header>
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>