<header> 
        <ul id="slide-out" class="side-nav fixed " style="transform: translateX(0%);" >
            <li>
                <div class="userView">
                  <div class="background">
                    <img src="img/menuBG.png" style="height: 100%;">
                  </div>
                  <a href=""><img class="circle" src="img/profile.png"></a>
                  <a href=""><span class="white-text name">John Doe</span></a>
                  <a href=""><span class="white-text email">jdandturk@gmail.com</span></a>
                  
                </div>
            </li>
              


                
            
            <li>
                <div class="divider"></div>
            </li>


            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
            </ul>


            
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">location_on</i>Lugar</div>
                  <div class="collapsible-body custom-body">
                    
                          <a class="waves-effect waves-teal" href="admin/lugares/add">Nuevo Lugar</a>
                          <a class="waves-effect waves-teal" href="admin/lugares">Ver Lugares</a>
                        
                    </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                  <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">assignment_ind</i>Usuarios</div>
                  <div class="collapsible-body custom-body">
                          <a class="waves-effect waves-teal" href="admin/user/add">Nuevo Usuario</a>
                          <a class="waves-effect waves-teal" href="admin/user">Ver Usuarios</a>
                      
                  </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                  <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">star</i>Canchas</div>
                  <div class="collapsible-body custom-body">
                        <a class="waves-effect waves-teal" href="admin/canchas/add">Nueva Cancha</a>
                        <a class="waves-effect waves-teal" href="admin/canchas">Ver Canchas</a>
                      
                  </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                  <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">today</i>Reservas</div>
                  <div class="collapsible-body custom-body">
                        <a class="waves-effect waves-teal" href="admin/reserva/add">Nueva Reserva</a>
                        <a class="waves-effect waves-teal" href="admin/reserva/listado">Ver reservas</a>
                      
                  </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                
                <li>
                    <a class="collapsible-header waves-effect waves-teal" href="logout">
                        <i class="material-icons">exit_to_app</i>
                        Cerrar Sesion
                    </a>
                </li>
            </ul>
        </ul>
        
        
        <nav class="top-nav navbar-fixed  teal darken-4">
            <div class="container">
              <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
                <i class="material-icons">menu</i>
                </a>
            </div>
            
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">Mi Cancha</a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="dropdown-button" href="#!" data-activates="dropdown1">Notificaciones
                                <span class="new badge">1</span>
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                    </ul>
                </div>
              </div>
        </nav>
    </header>
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>