<div class="index">
<div class="container  login" style="text-align:center";>
      <div class="section"></div>
      <img src="img/logo.png" width="20%"/>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" id="login" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <h5 class="teal-text ">Inicia sesion con tu cuenta.</h5>
          <form class="col s12" ng-submit="registrar(user)">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row' style="text-align:left">
                 <div class='input-field col s12'>
                    <input class='validate' type='number' ng-model='user.documento' id='email'  required/>
                    <label for='email'>Número de documento</label>
                 </div>
            </div>
            <div class='row' style="text-align:left">
                <div class='input-field col s6'>
                    <input class='validate' type='text' ng-model='user.nombre' id='email'  required/>
                    <label for='email'>Nombres</label>
                </div>
                <div class='input-field col s6'>
                    <input class='validate' type='text' ng-model='user.apellido' id='email'  required/>
                    <label for='email'>Apellidos</label>
                </div>
            </div>
            
            <div class='row' style="text-align:left">
                <div class='input-field col s6'>
                    <input class='validate' type='number' ng-model='user.telefono' id='email'  required/>
                    <label for='email'>Telefono</label>
                </div>
                <div class='input-field col s6'>
                    <input class='validate' type='text' ng-model='user.username' id='email'  required/>
                    <label for='email'>Username</label>
                </div>
            </div>
         

            <div class='row' style="text-align:left">
                <div class='input-field col s6'>
                    <input class='validate' type='email' ng-model='user.mail' id='email'  required/>
                    <label for='email'>Email</label>
                </div>
                <div class='input-field col s6'>
                    <input class='validate' type='password' ng-model='user.password' id='password' required/>
                    <label for='password'>Contraseña</label>
                </div>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect teal'>Registro</button>
              </div>
            </center>
            <a href="login" >Inicia Sesion</a><br><br>
          </form>
          
        </div>
      </div>
      <span class="white-text">Powered by Soft Simulation S.A.S</span>
</div>
</div>