<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>

<main>
<div class="container"> 
<h2>Horarios</h2>
  <table class="bordered striped highlight responsive-table animated zoomIn " ng-if="load">
    <thead>
      <tr>
          <th>Index</th>
          <th>Dia</th>
          <th>Hora Inicial</th>
          <th>Hora Final</th>
          <th>Precio</th>
          <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dat in data">
        <td>{{$index+1}}</td>
        <td>{{dat.dia}}</td>
        <td>{{dat.horaInicio}}</td>
        <td>{{dat.horaFin}}</td>
        <td>{{dat.precio | currency:$}}</td>
        <td> 
            <a href="" data-target='demoModal2' ng-click="modalUpdate(dat.id)"><i class="material-icons">create</i></a>
            <a href="" ng-click="delete(dat.id)"><i class="material-icons">delete</i></a>
        </td>
        
      </tr>
      
      
    </tbody>
</table>
  <br>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" href="admin/canchas/add"><i class="material-icons">add</i></a> 
</div>
 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>  



<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" data-target='demoModal' modal><i class="material-icons">add</i></a> 
</div>

<div id="demoModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Nuevo Horario</h4>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <select  material-select ng-model="horario.dias_id" required >
                    <option value="" disabled selected>Dia</option>
                    <option ng-repeat="dat in dias" value="{{dat.id}}">{{dat.dia}}</option>
                </select>
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">timer</i>
                <label for="inicio">Hora Inicial</label>
                <input id="inicio" input-clock data-twelvehour="false" type="text" ng-model="horario.horaInicio">
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">timer_off</i>
                <label for="final">Hora final</label>
                <input id="final" input-clock data-twelvehour="false" type="text" ng-model="horario.horaFin">
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">monetization_on</i>
                <input id="precio"  type="number" ng-model="horario.precio">
                <label for="precio">Precio</label>
            </div>
            
            
             
              <div class="col s12">
                  <br>
                   <button class="btn  waves-effect waves-light" type="button" name="action" ng-click="send(horario)" ng-disabled="!horario.horaFin || !horario.horaInicio || !horario.dias_id || !horario.precio">Añadir
                      <i class="material-icons right">send</i>
                    </button>
                </div>
                  
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<div id="demoModal2" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Nuevo Horario</h4>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <select  material-select ng-model="horarioUpd.dias_id" required >
                    <option value="" disabled selected>Dia</option>
                    <option ng-repeat="dat in dias" value="{{dat.id}}">{{dat.dia}}</option>
                </select>
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">timer</i>
                <label for="inicio">Hora Inicial</label>
                <input id="inicio" input-clock data-twelvehour="false" type="text" ng-model="horarioUpd.horaInicio">
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">timer_off</i>
                <label for="final">Hora final</label>
                <input id="final" input-clock data-twelvehour="false" type="text" ng-model="horarioUpd.horaFin">
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">monetization_on</i>
                <input id="precio"  type="number" ng-model="horarioUpd.precio">
                <label for="precio">Precio</label>
            </div>
            
            
             
              <div class="col s12">
                  <br>
                   <button class="btn waves-effect waves-light " type="button" name="action" ng-click="update(horarioUpd)" ng-disabled="!horarioUpd.horaFin || !horarioUpd.horaInicio || !horarioUpd.dias_id || !horarioUpd.precio">Guardar
                      <i class="material-icons right">send</i>
                    </button>
                </div>
                  
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
</div>
</main>