<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 
<h2>Lugar</h2>

  <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>  



  <ul class="collection with-header animated zoomIn " ng-if="load" >
    <li class="collection-header active"><h4>{{data.codigo}}</h4></li>
    <li class="collection-item">Caracterristicas: {{data.caracteristicas}}</li>
    <li class="collection-item">Horarios: {{data.horario}}</li>
    
    <li class="collection-item"><a class="waves-effect waves-light btn" href="admin/canchas"><i class="material-icons left">keyboard_backspace</i>Volver</a></li>
    <li class="collection-item"><a class="waves-effect waves-light btn" href="admin/canchas/gallery/{{data.id}}"><i class="material-icons left">trending_flat</i>Ir a galeria</a></li>
  </ul>
</div>
</main>