<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 


<div>
    <h2 class="center">Galeria del lugar</h2>
    <div class="row">
        <ul lightbox="fotos">
          <li ng-repeat="dat in fotos">
            <div class="col s4" >
                <div class="thumbnail z-depth-3">
                <a href="{{dat}}" class="lightbox-trigger" >
                    <img  src="{{dat}}" class="responsive-img materialboxed responsive-img initialized" ></img>
                </a>
                
                </div>
                <div align="center">
                     <a href="" ng-click="deleteImg(fotos_id[$index])"><i class="material-icons">delete</i></a>
                     
                </div>
            </div>
           
          </li>
          
        </ul>
    </div>
</div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" data-target='demoModal' modal><i class="material-icons">add</i></a> 
</div>

<div id="demoModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Nuevo Horario</h4>
        <div class="row">
            <div class="input-field col s12">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Fotos</span>
                  <input type="file" ng-file-model="lugar.fotos" multiple  accept="image/*" required>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload one or more files" >
                </div>
              </div>
            </div>
            
             
            <div class="col s12">
              <br>
               <button class="btn  waves-effect waves-light" type="button" name="action" ng-click="send(lugar)" ng-disabled="!lugar.fotos">Añadir
                  <i class="material-icons right">send</i>
                </button>
            </div>
                  
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

</main>


