<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 


<h2 class="center">Lugares</h2>
 <table class="bordered striped highlight responsive-table animated zoomIn " ng-if="load">
    <thead>
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Gerente</th>
          <th>Encargado</th>
          <th>Direccion</th>
          <th>Mail</th>
          <th>Telefono</th>
          <th>Acciones</th>
          <th>Canchas</th>
          <th>Fotos</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dat in data">
        <td>{{$index+1}}</td>
        <td>{{dat.nombre}}</td>
        <td>{{dat.gerente}}</td>
        <td>{{dat.encargado}}</td>
        <td>{{dat.direccion}}</td>
        <td>{{dat.mail}}</td>
        <td>{{dat.telefono}}</td>
        <td> 
            <a href="admin/lugares/edit/{{dat.id}}"><i class="material-icons">create</i></a>
            <a href="admin/lugares/view/{{dat.id}}"><i class="material-icons">pageview</i></a>
            <a href="admin/lugares/delete/{{dat.id}}"><i class="material-icons">delete</i></a>
        </td>
        <td> 
           <a href="admin/lugares/{{dat.id}}/canchas">Ver</a>
           
        </td>
        <td><a href="admin/lugares/gallery/{{dat.id}}">ver</a></td>
      </tr>
      
      
    </tbody>
</table>
  <br>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" href="admin/lugares/add"><i class="material-icons">add</i></a> 
</div>
 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>
  </div>
  </main>