<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 
 
<h2 class="center">Agregar Lugar</h2>
<form class="col s8 offset-s2"  name="userForm" ng-submit="create(lugar)">
    <div class="row card-panel">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="" type="text" class="validate" ng-model="lugar.nombre" required>
          <label for="" >Nombres</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="" type="text" class="validate" ng-model="lugar.direccion" required>
          <label for="" >Direccion</label>
          
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="" type="email" class="validate" ng-model="lugar.mail" required>
          <label for="" >E-mail</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="" type="tel" class="validate" ng-model="lugar.telefono" required>
          <label for="" >Telefono</label>
        </div>
        
        
        <div class="input-field col s5" >
          <i class="material-icons prefix">account_circle</i>
          <input id="latitud" type="text" class="validate" ng-model="lugar.latitud" >
          <label for="latitud" >Latitud</label>
          
        </div>
        <div class="input-field col s5">
            <i class="material-icons prefix">account_circle</i>
            <input id="longitud" type="text" class="validate" ng-model="lugar.longitud"  >
            <label for="longitud" >Longitud</label>
            
        </div>
        <div class="input-field col s1">
          <a tooltipped data-position="bottom" data-delay="50" data-tooltip="Click para añadir tu posición actual" class="btn-floating btn-large waves-effect waves-light red" ng-click="setPosition()"><i class="material-icons">add_location</i></a>
          
        </div>
        <div class="input-field col s1">
          <a tooltipped data-position="bottom" data-delay="50" data-tooltip="Click para desplegar mapa y elegir posición" class="btn-floating btn-large waves-effect waves-light red modal-trigger" ng-click="map()"><i class="material-icons">map</i></a>
         
        </div>
        
        <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
          <select  material-select ng-model="lugar.dptos_estados_id" required ng-change="municiposload(lugar.dptos_estados_id)">
              <option value="" disabled selected>Elegir Departamento/Estado</option>
              <option ng-repeat="dat in dptos" value="{{dat.id}}">{{dat.nombre}}</option>
          </select>
        </div>
  
        <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
          <select  material-select ng-model="lugar.mpios_ciudades_id" required>
              <option value="" disabled selected>Elegir Municipio/Ciudad</option>
              <option ng-repeat="dat in mpios" value="{{dat.id}}">{{dat.nombre}}</option>
          </select>
        </div>
        
        <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
          <select  material-select ng-model="lugar.admin_id" required ng-change="encagargadosLoad(lugar.admin_id)">
              <option value="" disabled selected>Elegir Gerente</option>
              <option ng-repeat="dat in admin" value="{{dat.id}}">{{dat.usuarios.nombre}} {{dat.usuarios.apellido}}</option>
          </select>
        </div>
  
        <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
          <select  material-select ng-model="lugar.encargados_id" required>
              <option value="" disabled selected>Elegir Encargado</option>
              <option ng-repeat="dat in data" value="{{dat.id}}">{{dat.nombre}} {{dat.apellido}}</option>
          </select>
        </div>
        

        <div class="input-field col s12">
          <div class="file-field input-field">
            <div class="btn">
              <span>Fotos</span>
              <input type="file" ng-file-model="lugar.fotos" multiple  accept="image/*" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files" >
            </div>
          </div>
        </div>
        
        
       
      
        </div>
      </div>
      
      <div class="col s12">
           <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
              <i class="material-icons right">send</i>
            </button>
        </div>
        <br> 

    </form>
  </div>
   <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Mapa de la ciudad</h4>
       <div id="map"></div>
      </div>
      <div class="modal-footer">
        <a  class="modal-action modal-close waves-effect waves-green btn-flat " >OK</a>
      </div>
  </div>
  </div>
  </main>
          