<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 
<h2>Reserva</h2>

  <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>  



  <ul class="collection with-header animated zoomIn " ng-if="load" >
    
    <li class="collection-item ">
          <a class="btn waves-effect waves-light animated zoomIn" data-target='demoModal' modal>Actualizar Fecha y hora</a>
    </li>
    <li class="collection-item">Fecha: {{data.fecha}}</li>
    <li class="collection-item">Tiempo: {{data.horaInicio}}-{{data.horaFin}}</li>
    <li class="collection-item">Usuario: {{data.usuarios.nombre}} {{data.usuarios.apellido}}</li>
    <li class="collection-item">Telefono: {{data.usuarios.telefono}}</li>
    <li class="collection-item">Email: {{data.usuarios.mail}}</li>
    <li class="collection-item">Lugar: {{lugar.nombre}}</li>
    <li class="collection-item">Cancha: {{data.cancha.codigo}}</li>
    <li class="collection-item">Estado: {{data.estado_reserva.estado}}</li>
    <li class="collection-item">
        <div class="row">
            <div class="input-field col s4">
                <select  ng-model="estado_id" class="browser-default">
                    <option value="" disabled selected>Estado Reserva</option>
                    <option ng-repeat="estado in estados" value="{{estado.id}}">{{estado.estado}}</option>
                </select>
            </div>
            
            <div class="col s4">
                <br>
                <button ng-disabled="!estado_id" class="btn waves-effect waves-light" type="button" name="action" ng-click="update(estado_id)">Actualizar
                  <i class="material-icons right"></i>
                </button>
            </div>
        </div>
    </li>
    <li class="collection-item"><a class="waves-effect waves-light btn" href="admin/lugares/{{lugar.id}}/reserva"><i class="material-icons left">keyboard_backspace</i>Volver</a></li>
  </ul>
</div>


<div id="demoModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Editar horario</h4>
         <div class="row">
          <div class="input-field col s4">
          <i class="material-icons prefix">date_range</i>
          <label for="date">Fecha</label>
          <!--<input  type="date" ng-model="reserva.fecha" required/>-->
          <input input-date type="text" ng-model="data.fecha" 
            id="date"
            container=""
            format="yyyy-mm-dd"
            months-full="{{ month }}"
            months-short="{{ monthShort }}"
            weekdays-full="{{ weekdaysFull }}"
            weekdays-short="{{ weekdaysShort }}"
            weekdays-letter="{{ weekdaysLetter }}"
           
            today="today"
            clear="clear"
            close="close"
            select-years="10"
            required="required"
          
          />
        </div>
          
          <div class="input-field col s4">
                <i class="material-icons prefix">timer_off</i>
                <label for="final">Hora inicio</label>
                <input id="final" input-clock data-twelvehour="false" type="text" ng-model="data.horaInicio">
          </div>
        
          <div class="input-field col s4">
                <i class="material-icons prefix">timer_off</i>
                <label for="final">Hora final</label>
                <input id="final" input-clock data-twelvehour="false" type="text" ng-model="data.horaFin">
          </div>
          
           <div class="input-field col s12">
              <i class="material-icons prefix">gps_fixed</i>
              <select id="encargado" material-select ng-model="cancha_id" required>
                  <option value="" disabled selected>Cancha</option>
                  <option ng-repeat="dat in cancha" value="{{dat.id}}">{{dat.codigo}}</option>
              </select>
            </div>
        </div>
        
      
        <button class="btn waves-effect waves-light" ng-click="updateDate(data.horaInicio,data.horaFin, data.fecha, cancha_id )">Actualizar</button>
   
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

</main>