<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 
<h2 class="center">Reservas</h2>


<div class="row">
 
  
  <div class="input-field col s8">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text"  ng-model="search" >
          <label for="icon_prefix" >Buscar...</label>
  </div>
  
  <div class="input-field col s4">
    
    <select  ng-model="estado_id" ng-change="status(estado_id)">
        <option value="" selected>Todos</option>
      
        <option ng-repeat="estado in estados" value="{{estado.id}}">{{estado.estado}}</option>
    </select>
    <label>Estado</label>
  </div>
</div>

 <table class="bordered striped highlight responsive-table animated zoomIn " ng-if="load" >
    <thead>
      <tr>
          <th>Index</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Lugar</th>
          <th>
            <a ng-click="sortType = 'cancha'; sortReverse = !sortReverse" style="cursor:pointer">
               Cancha
                <span ng-show="sortType == 'cancha' && !sortReverse" class="material-icons">keyboard_arrow_down</span>
                <span ng-show="sortType == 'cancha' && sortReverse" class="material-icons">keyboard_arrow_up</span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'fecha'; sortReverse = !sortReverse" style="cursor:pointer">
               Fecha
                <span ng-show="sortType == 'fecha' && !sortReverse" class="material-icons">keyboard_arrow_down</span>
                <span ng-show="sortType == 'fecha' && sortReverse" class="material-icons">keyboard_arrow_up</span>
            </a>          
          </th>
          <th>Tiempo</th>
          <th ng-if="estado_id=='' || !estado_id">Estado</th>
          
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dat in data |filter:search |firstPage:currentPage*pageSize | limitTo:pageSize| orderBy:sortType:sortReverse  ">
        <td>{{$index+1}}</td>
        <td>{{dat.nombre}} {{dat.apellido}}</td>
        <td>{{dat.mail}}</td>
        <td>{{dat.telefono}}</td>
        <td>{{dat.lugar}}</td>
        <td>{{dat.cancha}}</td>
        <td>{{dat.fecha}}</td>
        <td>{{dat.horaInicio |date:"hh:m"}}-{{dat.horaFin}}</td>
        <td ng-if="estado_id=='' || !estado_id">{{dat.estado}}</td>
        
      </tr>
     
      
    </tbody>
</table>
<br>
<div class="pagination" ng-if="load" >
  <button ng-disabled="currentPage == 0" ng-click="pagination(currentPage-1)" class="btn-floating blue"><</button>
  <div class="chip" ng-if="data.length>10">{{currentPage+1}}/{{numberOfPages()}}</div>
  <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="pagination(currentPage+1)" class="btn-floating blue">></button>
</div>  
  <br>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" href="owner/reserva/add"><i class="material-icons">add</i></a> 
</div>
 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>
</div>
</main>