
<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 

<div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>  


<div class="row animated zoomIn" ng-if="load" align="center">
    <div clas="col s8 offset-s2">
        <h4>¿Seguro que desea eliminar al usuario encargado {{data.nombre}} {{data.apellido}}?</h4>
        <button class="waves-effect waves-light btn" ng-click="delete()">Si</button>
        <a href="admin/encargados" class="btn waves-effect waves-teal blue ">No</a>
    </div>
    
</div>
</div>
</main>