<div data-ng-include src="'templates/partials/sideBarAdmin.html'"></div>
<main>
<div class="container"> 

 <h2 class="center">Agregar Usuarios</h2>

<form class="col s8 offset-s2"  name="userForm" ng-submit="create(user)">
    <div class="row card-panel">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" ng-model="user.nombre" required>
          <label for="icon_prefix" >Nombres</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_telephone" type="text" class="validate" ng-model="user.apellido" required>
          <label for="icon_telephone" >Apellidos</label>
          
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" type="email" class="validate" ng-model="user.mail" required>
          <label for="icon_telephone" >E-mail</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" ng-model="user.telefono" required>
          <label for="icon_telephone" >Telefono</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_telephone" type="text" class="validate" ng-model="user.username" required>
          <label for="icon_telephone" >Username</label>
        </div>
        
        <div class="input-field col s12">
         <i class="material-icons prefix">supervisor_account</i>
          <select id="" material-select ng-model="user.tipo" required ng-change="changeSelect(user.tipo)">
              <option value="" disabled selected>Tipo Usuario</option>
              <option value="1">Cliente</option>
              <option value="2">Encargado</option>
              <option value="3">Administrador de sitio</option>
              <option value="4">Super Administrador</option>
          </select>
        </div>
        
        <div class="input-field col s12" ng-if="bandera==true">
        <i class="material-icons prefix">account_circle</i>
          <select  material-select ng-model="user.admin_id" required >
              <option value="" disabled selected>Elegir Gerente</option>
              <option ng-repeat="dat in admin" value="{{dat.id}}">{{dat.usuarios.nombre}} {{dat.usuarios.apellido}}</option>
          </select>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input id="icon_telephone" type="password" class="validate" ng-model="user.password" required>
          <label for="icon_telephone" >Contraseña</label>
        </div>
        
       
      
        </div>
      </div>
      
      <div class="col s12">
           <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
              <i class="material-icons right">send</i>
            </button>
        </div>
          

    </form>
  </div>
  </div>
  </main>