<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 
<h2 class="center">Editar Cancha</h2>

<form class="col s8 offset-s2"  name="userForm" ng-submit="update(cancha)">
     <div class="row card-panel">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" ng-model="cancha.codigo" required>
          <label for="icon_prefix" >Codigo/Numero/Nombre</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <input id="icon_telephone" type="text" class="validate" ng-model="cancha.caracteristicas" required>
          <label >Descripcion breve</label>
          
        </div>
        
        <div class="input-field col s12"> 
            <i class="material-icons prefix">list</i>
            <div class="chips" tooltipped data-position="bottom" data-delay="50" data-tooltip="Escribe una frase o palabra y presiona enter para agregar tag" chips ng-model="cancha.chips" secondary-placeholder="" placeholder="+" required></div>
            <label >Caracteristicas</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">business</i>
          <select id="encargado" material-select ng-model="cancha.lugar_id" required>
              <option value="" disabled selected>Lugar</option>
              <option ng-repeat="dat in data" value="{{dat.id}}">{{dat.nombre}}</option>
          </select>
        </div>
        
        
      
        <div class="input-field col s12">
            <i class="material-icons prefix">access_time</i>
            <select  material-select ng-model="cancha.disponibilidad_id" required >
                <option value="" disabled selected>Disponibilidad</option>
                <option ng-repeat="dat in disp" value="{{dat.id}}">{{dat.disponibilidad}}</option>
            </select>
        </div>
        
        
       
        
        </div>
      </div>
      
      <div class="col s12">
           <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
              <i class="material-icons right">send</i>
            </button>
        </div>
          

    </form>
  </div>
</main>