<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 

<h2 class="center">Canchas</h2>
 <table class="bordered striped highlight responsive-table animated zoomIn " ng-if="load">
    <thead>
      <tr>
          <th>ID</th>
          <th>Lugar</th>
          <th>Codigo/Numero/Nombre</th>
          <th>Caracteritiscas</th>
          <th>Configurar Horario</th>
          <th>Acciones</th>
          <th>Fotos</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dat in data">
        <td>{{$index+1}}</td>
        <td>{{dat.nombre}}</td>
        <td>{{dat.codigo}}</td>
        <td>{{dat.caracteristicas}}</td>
        <td><a href="owner/canchas/horario/{{dat.id}}"><i class="material-icons">alarm_add</i></a></td>
        <td> 
            <a href="owner/canchas/edit/{{dat.id}}"><i class="material-icons">create</i></a>
            <a href="owner/canchas/view/{{dat.id}}"><i class="material-icons">pageview</i></a>
            <a href="owner/canchas/delete/{{dat.id}}"><i class="material-icons">delete</i></a>
        </td>
        <td><a href="owner/canchas/gallery/{{dat.id}}">ver</a></td>
      </tr>
      
      
    </tbody>
</table>
  <br>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" href="owner/canchas/add"><i class="material-icons">add</i></a> 
</div>
 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>
  </div>
</main>