<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 
<h2 class="center">Encargados</h2>
 <table class="bordered striped highlight responsive-table animated zoomIn " ng-if="load">
    <thead>
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Username</th>
          <th>Mail</th>
          <th>Telefono</th>
          <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dat in data">
        <td>{{$index+1}}</td>
        <td>{{dat.nombre}}</td>
        <td>{{dat.apellido}}</td>
        <td>{{dat.username}}</td>
        <td>{{dat.mail}}</td>
        <td>{{dat.telefono}}</td>
        <td> 
            <a href="owner/encargados/edit/{{dat.usuarios_id}}"><i class="material-icons">create</i></a>
            <a href="owner/encargados/delete/{{dat.usuarios_id}}"><i class="material-icons">delete</i></a>
        </td>
      </tr>
      
    </tbody>
</table>
  <br>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" href="owner/encargados/add"><i class="material-icons">add</i></a> 
</div>
 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>  
</div>
</main>
