<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 
 <h2 class="center">Editar Encargado</h2>

<form class="col s8 offset-s2"  name="userForm" ng-submit="update(user)">
    <div class="row card-panel">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="valid" ng-model="user.nombre" required>
          <label for="icon_prefix" class="active">Nombres</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_telephone" type="text" class="valid" ng-model="user.apellido" required>
          <label for="icon_telephone" class="active">Apellidos</label>
          
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" type="email" class="valid" ng-model="user.mail" required>
          <label for="icon_telephone" class="active">E-mail</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="valid" ng-model="user.telefono" required>
          <label for="icon_telephone" class="active">Telefono</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_telephone" type="text" class="valid" ng-model="user.username" required>
          <label for="icon_telephone" class="active">Username</label>
        </div>
        
       
      
        </div>
      </div>
      
      <div class="col s12">
           <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
              <i class="material-icons right">send</i>
            </button>
        </div>
          

    </form>
  </div>
</div>
</main>