<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 
<div>
    <h2 class="center">Galeria del lugar</h2>
    <div class="row">
        <ul lightbox="fotos">
          <li ng-repeat="dat in fotos">
            <div class="col s4 top" >
                <div class="thumbnail z-depth-3">
                <a href="{{dat}}" class="lightbox-trigger" >
                    <img  src="{{dat}}" class="responsive-img materialboxed responsive-img initialized" ></img>
                </a>
                </div>
            </div>
           
          </li>
          
        </ul>
    </div>
</div>
</div>
</main>


