<header> 
      <ul id="slide-out" class="side-nav fixed " style="transform: translateX(0%);" >
          <li>
              <div class="userView">
                <div class="background">
                  <img src="http://materializecss.com/images/office.jpg">
                </div>
                <a href=""><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
                <a href=""><span class="white-text name">John Doe</span></a>
                <a href=""><span class="white-text email">jdandturk@gmail.com</span></a>
                
              </div>
          </li>
            


              
          
          <li>
              <div class="divider"></div>
          </li>


          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>


          
          <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">add_circle</i>Lugar</div>
                <div class="collapsible-body custom-body">
                  
                        <a class="waves-effect waves-teal" href="owner/lugares">Ver Lugares</a>
                      
                  </div>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">assignment_ind</i>Encargados</div>
                <div class="collapsible-body custom-body">
                        <a class="waves-effect waves-teal" href="owner/encargados/add">Nuevo Encargado</a>
                        <a class="waves-effect waves-teal" href="owner/encargados">Ver Encargados</a>
                    
                </div>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">star</i>Canchas</div>
                <div class="collapsible-body custom-body">
                      <a class="waves-effect waves-teal" href="owner/canchas/add">Nueva Cancha</a>
                      <a class="waves-effect waves-teal" href="owner/canchas">Ver Canchas</a>
                    
                </div>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">star</i>Reservas</div>
                <div class="collapsible-body custom-body">
                      <a class="waves-effect waves-teal" href="owner/reserva/add">Nueva Reserva</a>
                      <a class="waves-effect waves-teal" href="owner/reserva/listado">Ver reservas</a>
                    
                </div>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
          </ul>
      </ul>
      
      
      <nav class="top-nav navbar-fixed  teal darken-4">
          <div class="container">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
              <i class="material-icons">menu</i>
              </a>
          </div>
          
          <div class="container">
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo center">Logo</a>
                  <ul class="right hide-on-med-and-down">
                      <li>
                          <a class="dropdown-button" href="#!" data-activates="dropdown1">Notificaciones
                              <span class="new badge">1</span>
                              <i class="material-icons right">arrow_drop_down</i>
                          </a>
                      </li>
                  </ul>
              </div>
            </div>
      </nav>
</header>
<main>
<div class="container"> 
<h2>Lugar</h2>

  <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>  



  <ul class="collection with-header animated zoomIn " ng-if="load" >
    <li class="collection-header active"><h4>{{data.nombre}} {{data.apellido}}</h4></li>
    <li class="collection-item">Direccion: {{data.direccion}}</li>
    <li class="collection-item">Mail: {{data.mail}}</li>
    <li class="collection-item">Telefono: {{data.telefono}}</li>
    <li class="collection-item"><a class="waves-effect waves-light btn" href="admin/lugares"><i class="material-icons left">keyboard_backspace</i>Volver</a></li>
    <li class="collection-item"><a class="waves-effect waves-light btn" href="admin/lugares/gallery/{{data.id}}"><i class="material-icons left">trending_flat</i>Ir a galeria</a></li>
  </ul>
  
  </div>
</main>