<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 
<h2 class="center">Lugares</h2>
 <table class="bordered striped highlight responsive-table animated zoomIn " ng-if="load">
    <thead>
      <tr>
          <th>ID</th>
          <th>Lugar</th>
          <th>Accion</th>

      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dat in data">
        <td>{{$index+1}}</td>
        <td>{{dat.nombre}}</td>
        <td>
            <a href="owner/lugares/{{dat.id}}/reserva">Ver reservas</a>-
            <a href="owner/lugares/{{dat.id}}/reserva/historico">Ver historicos reservas</a>
        </td>
      </tr>
      
      
    </tbody>
</table>
  <br>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" href="owner/reserva/add"><i class="material-icons">add</i></a> 
</div>
 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div> 
</div>
</main>