<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 
 <h2 class="center">Nueva Reserva</h2>

<form class="col s8 offset-s2"  name="userForm" ng-submit="create(reserva)">
    <div class="row card-panel">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">date_range</i>
          <label for="date">Fecha</label>
          <!--<input  type="date" ng-model="reserva.fecha" required/>-->
          <input input-date type="text" ng-model="reserva.fecha" 
            id="date"
            container=""
            format="dd/mm/yyyy"
            months-full="{{ month }}"
            months-short="{{ monthShort }}"
            weekdays-full="{{ weekdaysFull }}"
            weekdays-short="{{ weekdaysShort }}"
            weekdays-letter="{{ weekdaysLetter }}"
           
            today="today"
            clear="clear"
            close="close"
            select-years="10"
            required="required"
          
          />
        </div>
        
        <div class="input-field col s6">
          <i class="material-icons prefix">timer</i>
          <label for="inicio">Hora Inicial</label>
          <input id="inicio" input-clock data-twelvehour="false" type="text" ng-model="reserva.horaInicio" required>
         
          
        </div>
        
        <div class="input-field col s6">
          <i class="material-icons prefix">timer_off</i>
          <label for="final">Hora final</label>
          <input id="final" input-clock data-twelvehour="false" type="text" class="validate" ng-model="reserva.horaFin" required>
         
          
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">gps_fixed</i>
          <select id="encargado" material-select ng-model="reserva.lugar_id" ng-change="lugar_get(reserva.lugar_id)"required>
              <option value="" disabled selected>Lugar</option>
              <option ng-repeat="dat in data" value="{{dat.id}}">{{dat.nombre}}</option>
          </select>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">gps_fixed</i>
          <select id="encargado" material-select ng-model="reserva.cancha_id" required>
              <option value="" disabled selected>Cancha</option>
              <option ng-repeat="dat in cancha" value="{{dat.id}}">{{dat.codigo}}</option>
          </select>
          </div>
      </div>
    </div>
      
    <div class="col s12">
       <button class="btn waves-effect waves-light" type="submit">Guardar
          <i class="material-icons right">send</i>
        </button>
    </div>
</form>
</div>
</main>
 