<div data-ng-include src="'templates/partials/sideBarSitio.html'"></div>
<main>
<div class="container"> 
<h2>Reserva</h2>

  <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>  



  <ul class="collection with-header animated zoomIn " ng-if="load" >
    <li class="collection-item">Fecha: {{data.fecha}}</li>
    <li class="collection-item">Tiempo: {{data.horaInicio}}-{{data.horaFin}}</li>
    <li class="collection-item">Usuario: {{data.nombre}} {{data.apellido}}</li>
    <li class="collection-item">Telefono: {{data.telefono}}</li>
    <li class="collection-item">Email: {{data.mail}}</li>
    <li class="collection-item">Lugar: {{lugar.nombre}}</li>
    <li class="collection-item">Cancha: {{data.cancha}}</li>
    <li class="collection-item">Estado: {{data.estado}}</li>
    <li class="collection-item">
        <div class="row">
            <div class="input-field col s4">
                <select  ng-model="estado_id" class="browser-default">
                    <option value="" disabled selected>Estado Reserva</option>
                    <option ng-repeat="estado in estados" value="{{estado.id}}">{{estado.estado}}</option>
                </select>
            </div>
            
            <div class="col s4">
                <br>
                <button ng-disabled="!estado_id" class="btn waves-effect waves-light" type="button" name="action" ng-click="update(estado_id)">Actualizar
                  <i class="material-icons right"></i>
                </button>
            </div>
        </div>
    </li>
    <li class="collection-item"><a class="waves-effect waves-light btn" href="admin/encargados"><i class="material-icons left">keyboard_backspace</i>Volver</a></li>
  </ul>
</div>
</main>