<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container">
        
        
        
        
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red pulse" href=""  data-target="modal1"><i class="material-icons">search</i></a> 
        </div>
    </div>
    
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Seleccionar filtross de busqueda</h4>
            <div class="row">
                <div class="col s2 m2">
                    Distancia:
                </div>
                
                <div class="col s8 m8">
                    <p class="range-field">
                      <input type="range" id="test5" min="0" max="100" ng-model="dista"/>
                    </p>

                </div>
                <div class="col s2 m2">
                    {{dista}} km
                </div>
            
                
              
                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">gps_fixed</i>
                    <select id="encargado" material-select ng-model="selection" required ng-options="item as item.caracteristica for item in dat track by item.id" multiple>
                        <option value="" disabled selected>Caracteristicas</option>
                    </select>
                </div>
                
                <div class="input-field col s4 m4">
                    <i class="material-icons prefix">date_range</i>
                    <label for="date">Fecha</label>
                      <!--<input  type="date" ng-model="reserva.fecha" required/>-->
                    <input input-date type="text" ng-model="fecha" 
                        id="date"
                        container=""
                        format="yyyy-mm-dd"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                       
                        today="today"
                        clear="clear"
                        close="close"
                        select-years="10"
                        required="required"
                      
                    />
    
                </div>
                <div class="input-field col s4 m4">
                    <i class="material-icons prefix">timer</i>
                    <label for="inicio">Hora Inicial</label>
                    <input id="inicio" input-clock data-twelvehour="false" type="text" ng-model="inicio" >
                     
                </div>
                <div class="input-field col s4 m4">
                    <i class="material-icons prefix">timer_off</i>
                    <label for="final">Hora final</label>
                    <input id="final" input-clock data-twelvehour="false" type="text"  ng-model="fin" >
         
                </div>
                
                <div class="col s4 m4">
                    <button class="btn waves-effect" ng-disabled="(!fecha || !inicio || !fin)  && !dista && selection.length==0" ng-click="search(dista, fecha, selection, inicio, fin)">Buscar</button>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
          <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
        </div>
    </div>
</main>