<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
<div class="container animated zoomIn"><br> 
    <div class="slider animated zoomIn" slider ng-if="item.fotos">
        <ul class="slides">
            <li ng-repeat="foto in item.fotos">
                <img ng-src="{{url}}{{foto.ruta}}" src="{{url}}{{foto.ruta}}">
            </li>
        </ul>
    </div>
    
     <div class="row animated zoomIn" ng-if="item">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Caracterisiticas principales</span>
              <p>
                    <div ng-repeat="data in item.chip" class="chip">
                        {{data.caracteristica}}
                    </div>      
                  
              </p>
            </div>
            
          </div>
        </div>
      </div>
      
      
    <div ng-if="item">
    <div class="divider"></div>
      <div class="section">
        <h5>{{item.nombre}}</h5>
        <p><i class="iconHead material-icons">email</i>Disponibilidad: {{item.disponibilidad.disponibilidad}}</p>
        <p><i class="iconHead material-icons">location_on</i>Lugar: {{item.lugar.nombre}}</p>
        <p><i class="iconHead material-icons">alarm_on</i><a href="" data-target='demoModal' modal>Horarios</a></p>
      </div>
      <div class="divider"></div>
      
      
</div>

 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>
  </div>
  
    
  <div id="demoModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Horarios</h4>
         <div class="row">
            <div class="col s12 m12">
                   <table class="bordered striped highlight responsive-table animated zoomIn " ng-if="load">
                        <thead>
                          <tr>
                              <th>Index</th>
                              <th>Dia</th>
                              <th>Hora Inicial</th>
                              <th>Hora Final</th>
                              <th>Precio x hora</th>
                              
                          </tr>
                        </thead>
                        
                        <tbody>
                          <tr ng-repeat="dat in item.horario">
                            <td>{{$index+1}}</td>
                            <td>{{dat.dia}}</td>
                            <td>{{dat.horaInicio}}</td>
                            <td>{{dat.horaFin}}</td>
                            <td>{{dat.precio | currency:$}}</td>
                          </tr>
                          
                          
                        </tbody>
                </table>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
</main>