<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>


<main>
<div class="container"><br> 
      <div class="row animated zoomIn">
        <div class="col s6 m6" ng-repeat="item in items">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light" >
              <img class="activator panel-img" src="{{url}}{{item.fotos[0].ruta}}">
              <span class="card-title">{{item.codigo}}</span>
            </div>
            <div class="card-content">
              {{item.caracteristicas}}
              
            </div>
            <div class="card-action">
              <a href="user/cancha/{{item.id}}">Ver informacion de la cancha</a>
            </div>
          </div>
        </div>
      </div>
</div>

 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>
  </div>
  
  

</main>