<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container animated zoomIn" ng-if="load">
        <h2 class="center">Editar Equipo</h2>
        <form class="col s8 offset-s2"  name="userForm" ng-submit="edit(equipo)">
        <div class="row card-panel">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">security</i>
              <input id="icon_prefix" type="text" class="validate" ng-model="equipo.nombre" required>
              <label for="icon_prefix" >Nombre del equipo</label>
            </div>
            <div class="input-field col s2">
                <i class="material-icons prefix">format_color_fill</i>
                <input colorpicker id="icon_prefix" type="text" class="validate" ng-model="equipo.color" required>
                <label for="icon_prefix" >Color</label>
            </div>
            <div class="col s10">
                <br><br>
                <div class="progress">
                  <div class="determinate" style="width: 100%; background-color:{{equipo.color}}"></div>
                 </div>
            </div>
            
            <div class="input-field col s12">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Logo del equipo</span>
                  <input type="file" ng-file-model="equipo.logo">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload one or more files" >
                </div>
              </div>
            </div>
            
            <div class="offset-s6 col s6" style="text-align: right;">
                 <img src="{{equipo.logo.url}}"class="img_club">
            </div>
            
            </div>
         </div>
      
        <div class="col s12">
           <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
              <i class="material-icons right">send</i>
            </button>
        </div>
          
      
      
      
      
    </form>
    </div>
    
    <div ng-if="!load" style="text-align:center;">
        <p>
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          </p>
    </div>    
</main>