<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container">
        <h4>Equipos rivales</h4>
        <div class="row" ng-if="items">
            <div class="col s12 m6 animated zoomIn" ng-repeat="dat in items">
                <div class="card">
                    <div class="card horizontal">
                      <div class="card-image">
                         <img src="{{url}}{{dat.ruta_logo}}" ng-if="dat.ruta_logo" class="img_club">
                          <i class="material-icons icon_club" ng-if="!dat.ruta_logo" style="color:{{dat.color}}">security</i>
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                            <span class="title">{{dat.nombre}}</span>
                            <p>{{dat.usuario_nombre}} {{dat.apellido}}</p>
                            <p>Fecha: {{dat.fecha}}</p>
                        </div>
                        <div class="card-action" style="border-top: 1px solid {{dat.color}}">
                          <a href="user/retar/{{dat.miEquipo_id}}/{{dat.id}}" >Retar</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-if="!load" style="text-align:center;">
            <p>
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
             </p>
        </div>    
    </div>
    
</main>