<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container" ng-if="load">
        <div class="row" >
            <div class="col s12">
                <ul tabs reload="allTabContentLoaded">
                    <li class="tab col s6"><a href="#test1" class="active">Equipos Activos</a></li>
                    <li class="tab col s6"><a href="#test2">Equipos Inactivos</a></li>
                    
                </ul>
            </div>
            
            <div id="test1" class="col s12 animated zoomIn" >
                 <div class="row">
                    <div class="col s12 m6" ng-repeat="dat in items">
                        <div class="card">
                            <div class="card horizontal">
                              <div class="card-image">
                                 <img src="{{url}}{{dat.ruta_logo}}" ng-if="dat.ruta_logo" class="img_club">
                                  <i class="material-icons icon_club" ng-if="!dat.ruta_logo" style="color:{{dat.color}}">security</i>
                              </div>
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p><h4>{{dat.nombre}}</h4></p>
                                </div>
                                <div class="card-action" style="border-top: 1px solid {{dat.color}}">
                                  <a href="" data-target="actionSheet" ng-click="actionSheet(dat.id, dat.nombre)">Opciones</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="test2" class="col s12 animated zoomIn"> 
                <div class="row">
                    <div class="col s12 m6" ng-repeat="dat in inactivos">
                      <div class="card">
                            <div class="card horizontal">
                              <div class="card-image">
                                 <img src="{{url}}{{dat.ruta_logo}}" ng-if="dat.ruta_logo" class="img_club">
                                  <i class="material-icons icon_club" ng-if="!dat.ruta_logo" style="color:{{dat.color}}">security</i>
                              </div>
                              <div class="card-stacked">
                                <div class="card-content">
                                   <p><h4>{{dat.nombre}}</h4></p>
                                </div>
                                <div class="card-action" style="border-top: 1px solid {{dat.color}}">
                                  <a href="" data-target="actionSheet2" ng-click="actionSheet2(dat.id)">Opciones</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>  
              </div>
            </div>
        </div>
        
        
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red" href="user/equipos/add"><i class="material-icons">add</i></a> 
        </div>
    </div>
    
    <div ng-if="!load" style="text-align:center;">
            <p>
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              </p>
        </div>    
   

    
    <div id="actionSheet" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Elige Una Accion</h4>
            <ul class="collection with-header">
                <li class="collection-item waves-effect waves-red modal-action modal-close" style="cursor:pointer;display: block;" ng-click="link(1, target)">
                    <div class="teal-text">
                        <i class="material-icons action_icons">supervisor_account</i>
                        Jugadores
                    </div>
                </li>
                <li class="collection-item waves-effect waves-red" style="cursor:pointer;display: block;" ng-click="link(2, target)">
                    <div class="teal-text">
                        <i class="material-icons action_icons">border_color</i>
                        Editar Equipo
                    </div>
                </li>
                <li class="collection-item waves-effect waves-red modal-action modal-close" style="cursor:pointer;display: block;" ng-click="delEquipo(target)">
                    <div class="teal-text">
                        <i class="material-icons action_icons">delete</i>
                        Desactivar Equipo
                    </div>
                </li>
                <li class="collection-item waves-effect waves-red modal-action modal-close" style="cursor:pointer;display: block;" data-target="modal1">
                    <div class="teal-text">
                        <i class="material-icons action_icons">stars</i>
                        Quiero Jugar
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
             <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
   
   
    <div id="actionSheet2" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Elige Una Accion</h4>
            <ul class="collection with-header">
                <li class="collection-item waves-effect waves-red" style="cursor:pointer;display: block;" ng-click="restore(target2)">
                    <div class="teal-text">
                        <i class="material-icons action_icons">supervisor_account</i>
                        Restaurar Equipo
                    </div>
                </li>
                <li class="collection-item waves-effect waves-red" style="cursor:pointer;display: block;" ng-click="deleteDef(target2)">
                    <div class="teal-text">
                        <i class="material-icons action_icons">delete</i>
                        Eliminar de forma definitiva
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
          <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
    
    
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Quiero Jugar: {{nameTarget}}</h4>
            <form class="row" ng-submit="add(data)">
                <div class="input-field col s8">
                  <i class="material-icons prefix">date_range</i>
                  <label for="date">Fecha</label>
                  <!--<input  type="date" ng-model="reserva.fecha" required/>-->
                  <input input-date type="text" ng-model="data.date"
                        id="date"
                        container=""
                        format="yyyy/mm/dd"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                   
                        today="today"
                        clear="clear"
                        close="close"
                        select-years="10"
                        required="required"
                  
                  />
                </div>
                <div class="col s4">
                    <br>
                    <button class="btn waves-effect waves-light" type="submit" ng-disabled="!data.date">Guardar
                          <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>

        </div>
        
        <div class="modal-footer">
          <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
        </div>
    </div>
    
</main>