<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    
    <div class="container" ng-if="load">
        <div class="row" >
            <div class="col s12">
                <ul tabs reload="allTabContentLoaded">
                    <li class="tab col s6"><a href="#test1" class="active">Jugadores</a></li>
                    <li class="tab col s6"><a href="#test2">Invitados</a></li>
                    
                </ul>
            </div>
            
            <div id="test1" class="col s12 animated zoomIn" >
                 <div class="row">
                    <div class="col s12 m6" ng-repeat="dat in items">
                        <div class="card">
                            <div class="card horizontal">
                              
                              <div class="card-stacked">
                                <div class="card-content">
                                    <h5>{{dat.nombre}} {{dat.apellido}}</h5>
                                    <p>Email: {{dat.mail}} </p>
                                    <p>username: {{dat.username}}</p>
                                    <p>Telefeono: {{dat.telefono}}</p>
                                </div>
                                <div class="card-action" style="border-top: 1px solid {{dat.color}}">
                                  <a href="" >Eliminar del equipo</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="test2" class="col s12 animated zoomIn"> 
                <div class="row">
                    <div class="col s12 m6" ng-repeat="dat in invitados">
                      <div class="card">
                            <div class="card horizontal">
                              
                              <div class="card-stacked">
                                <div class="card-content">
                                   <p><h5>{{dat.nombre}} {{dat.apellido}}</h5></p>
                                </div>
                                <div class="card-action" style="border-top: 1px solid {{dat.color}}">
                                  <a href=""  ng-click="actionSheet2(dat.id)">Cancelar invitacion</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>  
              </div>
            </div>
        </div>
        
        
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red" href="user/equipos/add"><i class="material-icons">add</i></a> 
        </div>
    </div>
    
    <div ng-if="!load" style="text-align:center;">
            <p>
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              </p>
        </div>    
    
</main>