<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>
<main>
<div class="container"><br> 
      <div class="row animated zoomIn">
        <div class="col s12 m6" ng-repeat="item in items">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light" >
              <img class="activator panel-img" src="{{url}}{{item.fotos_lugar[0].ruta}}">
              <span class="card-title">{{item.nombre}}</span>
            </div>
            <div class="card-content">
              <p ng-if="item.calificacion">
                  Calificacion:
                   <span class="new badge" data-badge-caption="">Atencion: {{item.calificacion.atencion | limitTo: 3}}</span>
                   <span class="new badge" data-badge-caption="">Servicio: {{item.calificacion.servicio | limitTo: 3}}</span>
                   <span class="new badge" data-badge-caption="">Canchas: {{item.calificacion.cancha | limitTo: 3}}</span>
                  <br>
              </p>
              <p ng-if="!item.calificacion">
                  No hay calificaciones
              </p>
              
            </div>
            <div class="card-action">
              <a href="user/lugar/{{item.id}}">Ver informacion del lugar</a>
            </div>
          </div>
        </div>
      </div>
</div>

 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>
  </div>
  
  

</main>