<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>
<main>
<div class="container animated zoomIn"><br> 
    <div class="slider animated zoomIn" slider ng-if="fotos">
        <ul class="slides">
            <li ng-repeat="foto in fotos">
                <img ng-src="{{url}}{{foto.ruta}}" src="{{url}}{{foto.ruta}}">
            </li>
        </ul>
    </div>
    <div ng-if="item">
    <div class="divider"></div>
      <div class="section">
        <span ng-if="item.calificacion" style="float: right;">
           <span class="new badge" data-badge-caption="">Atencion: {{item.calificacion.atencion | limitTo: 3}}</span>
           <span class="new badge" data-badge-caption="">Servicio: {{item.calificacion.servicio | limitTo: 3}}</span>
           <span class="new badge" data-badge-caption="">Canchas: {{item.calificacion.cancha | limitTo: 3}}</span>
          <br>
        </span>
       
         
        <h5>{{item.nombre}}</h5>
        <p><i class="iconHead material-icons">email</i>Email:{{item.mail}}</p>
        <p><i class="iconHead material-icons">smartphone</i>Telefono:{{item.telefono}}</p>
        <p><i class="iconHead material-icons">stars</i><a href="user/lugar/{{item.id}}/canchas">Canchas:{{item.cancha.length}}</a></p>
        <p><i class="iconHead material-icons">chat</i><a href="" data-target='demoModal' modal>Comentarios</a></p>
      </div>
      <div class="divider"></div>
      
      
</div>

 
 <div ng-if="!load" style="text-align:center;">
    <p>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </p>
  </div>
  </div>
  
    
  <div id="demoModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Comentarios de otros usuarios</h4>
         <div class="row">
            <div class="col s12 m6 waves-effect waves-light " ng-repeat="data in comentarios">
              <div class="card blue-grey darken-1 animated zoomIn">
                <div class="card-content white-text">
                  <span class="card-title">{{data.nombre}} {{data.apellido}}</span>
                  <p>{{data.created_at | limitTo :10 |date:'dd/MM/yyyy'}}</p>
                  <p> {{data.comentarios}}</p>
                </div>
                <div class="card-action">
                    <p class="white-text">
                      
                       <span class="new badge" data-badge-caption="">Atención: {{data.atencion}}</span>
                       <span class="new badge" data-badge-caption="">Servicio: {{data.servicio}}</span>
                       <span class="new badge" data-badge-caption="">Cancha: {{data.estado_cancha}}</span>
                      
                      </p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
</main>


