<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container">
        <div class="row" >
            <div class="col s12">
                <ul tabs reload="allTabContentLoaded">
                    <li class="tab col s4"><a href="#test1" class="active">Mis reservaciones</a></li>
                    <li class="tab col s4"><a href="#test2">Mis Retos</a></li>
                    <li class="tab col s4"><a href="#test3">Quien Me Reta</a></li>
                    
                </ul>
            </div>
            
            <div id="test1" class="col s12 animated zoomIn">
                 <div class="row">
                    <div class="col s12 m4"  ng-repeat="dat in reservas">
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">Fecha: {{dat.fecha}}</span>
                          <p>Tiempo: {{dat.horaInicio}}--{{dat.horaFin}}</p>
                          <p>Lugar: {{dat.lugar}}</p>
                          <p>Cancha: {{dat.cancha}}</p>
                          <p>Precio: {{dat.precio | currency:$:0}}</p>
                          <p>Estado:{{dat.estado}}</span></p>
                          
                        </div>
                        <div class="card-action">
                          <a href="user/reserva/{{dat.id}}">Ver informacion completa</a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            
            <div id="test2" class="col s12 animated zoomIn"> 
                <div class="row">
                    <div class="col s12 m6" ng-repeat="dat in misRetos">
                        <div class="card">
                            
                            <div class="card-image" style="border-left: 2px solid {{dat.retadorColor}}; border-right: 2px solid {{dat.color}}">
                                <div class="row">
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{dat.retadorRuta}}" ng-if="dat.retadorRuta" class="img_club">
                                        <i class="material-icons icon_club" ng-if="!dat.retadorRuta" style="color:{{dat.retadorColor}}">security</i>
                                    </div>
                                     <div class="col s2 m2 " style="text-align: center; padding-top: 58px;">
                                         <img src="img/versus.png"></img>
                                     </div>
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{dat.ruta_logo}}" ng-if="dat.ruta_logo" class="img_club">
                                        <i class="material-icons icon_club" ng-if="!dat.ruta_logo" style="color:{{dat.color}}">security</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" style="text-align:center;">
                                <span class="title titulo">{{dat.retardorNombre}} Vs {{dat.nombre}}</span>
                                <p>Fecha: {{dat.fecha}}</p>
                                <p>Tiempo: {{dat.horaInicio}}--{{dat.horaFin}}</p>
                                <p>Lugar: {{dat.lugar}}</p>
                                <p>Cancha: {{dat.cancha}}</p>
                                <p>Precio: {{dat.precio | currency:$:0}}</p>
                                <p >Estado: {{dat.estado}}</p>
                            </div>
                            <div class="card-action">
                              <a href="user/retoReservado/{{dat.id}}">Ver informacion completa</a>
                            </div>
             
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="test3" class="col s12 animated zoomIn"> 
                <div class="row">
                    <div class="col s12 m6"  ng-repeat="dat in meReta">
                        <div class="card">
                            
                            
                            <div class="card-image" style="border-left: 2px solid {{dat.retadorColor}}; border-right: 2px solid {{dat.color}}">
                                <div class="row">
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{dat.retadorRuta}}" ng-if="dat.retadorRuta" class="img_club">
                                        <i class="material-icons icon_club" ng-if="!dat.retadorRuta" style="color:{{dat.retadorColor}}">security</i>
                                    </div>
                                     <div class="col s2 m2 " style="text-align: center; padding-top: 58px;">
                                         <img src="img/versus.png"></img>
                                     </div>
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{dat.ruta_logo}}" ng-if="dat.ruta_logo" class="img_club">
                                        <i class="material-icons icon_club" ng-if="!dat.ruta_logo" style="color:{{dat.color}}">security</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" style="text-align:center;">
                                <span class="title titulo">{{dat.retardorNombre}} Vs {{dat.nombre}}</span>
                                <p>Fecha: {{dat.fecha}}</p>
                                <p>Tiempo: {{dat.horaInicio}}--{{dat.horaFin}}</p>
                                <p>Lugar: {{dat.lugar}}</p>
                                <p>Cancha: {{dat.cancha}}</p>
                                <p>Precio: {{dat.precio | currency:$:0}}</p>
                                <p >Estado: {{dat.estado}}</p>
                            </div>
                            <div class="card-action">
                              <a href="user/retoReservado/{{dat.id}}">Ver informacion completa</a>
                            </div>
             
                            
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red" href="user/reservar"><i class="material-icons">add</i></a> 
        </div>  
    </div>
    
</main>