<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container">
        <div class="row" ng-if="items">
            <div class="col s12 m6 animated zoomIn" ng-repeat="dat in items">
                <div class="card">
                    
                    
                    <div class="card-image" style="border-left: 2px solid {{dat.retadorColor}}; border-right: 2px solid {{dat.color}}">
                            <div class="row">
                                <div class="col s5 m5">
                                    <img src="{{url}}{{dat.retadorRuta}}" ng-if="dat.retadorRuta" class="img_club">
                                    <i class="material-icons icon_club" ng-if="!dat.retadorRuta" style="color:{{dat.retadorColor}}">security</i>
                                </div>
                                 <div class="col s2 m2 " style="text-align: center; padding-top: 58px;">
                                     <img src="img/versus.png"></img>
                                 </div>
                                <div class="col s5 m5">
                                    <img src="{{url}}{{dat.ruta_logo}}" ng-if="dat.ruta_logo" class="img_club">
                                    <i class="material-icons icon_club" ng-if="!dat.ruta_logo" style="color:{{dat.color}}">security</i>
                                </div>
                            </div>
                      </div>
                    <div class="card-content" style="text-align:center;">
                          <span class="title titulo">{{dat.retardorNombre}} Vs {{dat.nombre}}</span>
                            <p>{{dat.name}} {{dat.lastname}}</p>
                            <p>Lugar: {{dat.lugar}}</p>
                            <p>Fecha: {{dat.fecha}}</p>
                            <p>Estado:{{dat.estado}}</p>
                        </div>
                    <div class="card-action">
                          <a href="" ng-click="update(dat.reto, 4)" ng-if="dat.estadoReto_id!=3 && dat.estadoReto_id!=4 && dat.estadoReto_id!=5">Cancelar</a>
                          <a href="" ng-if="dat.estadoReto_id==3">Rechazado</a>
                          <a href="user/reservaReto/{{dat.reto}}" ng-if="dat.estadoReto_id==2">Reservar</a>
                          <a href="" ng-if="dat.estadoReto_id==5">Reservado</a>
                          <a href="" ng-click="update(dat.reto, 1)" ng-if="dat.estadoReto_id==4">Reactivar</a>
                        </div>
                    
                    
                   
                </div>
            </div>
        </div>
    </div>
</main>