<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>


<main>
<div class="container">
    <div class="row animated zoomIn" >
        <br>
        <div class="col m8 s12 offset-m2">
            <ul class="collection">
                <li class="collection-header" style="text-align:center;"><h4>Informacion de usuario</h4></li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">credit_card</i>
                  <span class="title">Documento</span>
                  <p>{{user.documento}}</p>
                  
                </li>
                <li class="collection-item avatar">
                     <i class="material-icons circle green">perm_identity</i>
                     <span class="title">Nombres y apellidos</span>
                     <p>{{user.nombre}} {{user.apellido}}</p>
                  
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">phone</i>
                    <span class="title">Télefono</span>
                    <p>{{user.telefono}} </p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">contact_mail</i>
                    <span class="title">Email</span>
                    <p>{{user.mail}}</p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">account_circle</i>
                    <span class="title">Usename</span>
                    <p>{{user.username}}</p>
                </li>
                
                <li class="collection-item">
                    <a href="" class="waves-effect waves-light btn" data-target="modal1">
                        Actualizar Informacion
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    
    <div id="modal1" class="modal modal-fixed-footer" >
            <div class="modal-content" >
                <h4 align="center">Actualizar informacion</img></h4>
                <div class="row">
                    <form ng-submit="update(user)">
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">credit_card</i>
                            <input type="number"  ng-model="user.documento" readonly id="numero">
                            <label for="numero" >Número de documento</label>
                        </div>
                        
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">perm_identity</i>
                            <input type="text"  ng-model="user.nombre" id="name">
                            <label for="name" >Nombres</label>
                        </div>
                        
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">perm_identity</i>
                            <input type="text" ng-model="user.apellido" id="lastname">
                            <label for="lastname" >Apellidos</label>
                        </div>
                        
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">contact_mail</i>
                            <input type="email" ng-model="user.mail" readonly id="mail">
                            <label for="mail" >Email</label>
                        </div>
                        
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" ng-model="user.username" id="user">
                            <label for="user" >Username</label>
                        </div>
                        
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">phone</i>
                            <input type="text" ng-model="user.telefono" id="tel">
                            <label for="tel" >Telefono</label>
                        </div>
                        
                        <div class="input-field col s4 m4 offset-s8 offset-m8">
                             <button type="submit" class="btn waves-effect" align="center" ng-disabled="!user.username  || !user.apellido || !user.nombre">Actualizar </button>
                        </div>
                    </form>
                </div>
                
    
            </div>
            
            <div class="modal-footer">
                
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
            </div>
        </div>
</div>

 

  

</main>