<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container">
        <div class="row animated zoomIn" ng-if="item">
            <div class="col m10 s12 offset-m1 ">
                
                <ul class="collection">
                    <li class="collection-header" style="text-align:center;"><h4>Reservar</h4></li>
                    <li>
                        <div class="card">
                            
                            
                            
                            <div class="card-image" style="border-left: 2px solid {{item.retadorColor}}; border-right: 2px solid {{item.color}}">
                                <div class="row">
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{item.retadorRuta}}" ng-if="item.retadorRuta" class="img_club card_club">
                                        <i class="material-icons icon_club" ng-if="!item.retadorRuta" style="color:{{item.retadorColor}}">security</i>
                                    </div>
                                     <div class="col s2 m2 " style="text-align: center; padding-top: 58px;">
                                         <img src="img/versus.png"></img>
                                     </div>
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{item.ruta_logo}}" ng-if="item.ruta_logo" class="img_club card_club">
                                        <i class="material-icons icon_club" ng-if="!item.ruta_logo" style="color:{{item.color}}">security</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" style="text-align:center; border-left: 2px solid {{item.retadorColor}}; border-right: 2px solid {{item.color}}">
                                <span class="title titulo">{{item.retardorNombre}} Vs {{item.nombre}}</span>
                                <p>Retardor:{{item.name}} {{item.lastname}}</p> 
                                <p>Fecha: {{item.fecha}}</p>
                                <p>Lugar: {{item.lugar}}</p>
                            </div>
                        </div>
                    </li>
                    
                    <li class="collection-item avatar">
                      
                          <i class="material-icons circle green">business</i>
                          <select  class="browser-default" ng-model="data.cancha_id">
                              <option value="" disabled selected>Canchas</option>
                              <option ng-repeat="dat in canchas" value="{{dat.id}}">{{dat.codigo}}</option>
                          </select>
                        
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">timer</i>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="inicio">Hora Inicial</label>
                                <input id="inicio" input-clock data-twelvehour="false" type="text" ng-model="data.horaInicio" >
                            </div>
                            
                            <div class="input-field col s6">
                                <label for="final">Hora final</label>
                                <input id="final" input-clock data-twelvehour="false" type="text" ng-model="data.horaFinal" >
                            </div>
                        </div>
                    </li>
                    
                    <li class="collection-item" >
                        <button  class="waves-effect waves-light btn" ng-disabled="!data.cancha_id || !data.horaInicio || !data.horaInicio" ng-click="add(data)">
                            Retar
                        </button>
                    </li>
                
                </ul>
            </div>
        </div>
    </div>
</main>