<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>

<main>
    <div class="container">
        <div class="row animated zoomIn" ng-if="equipo">
            <div class="col m10 s12 offset-m1 ">
                
                <ul class="collection">
                    <li class="collection-header" style="text-align:center;"><h4>Retar</h4></li>
                    <li>
                        <div class="card">
                            <div class="card horizontal" style="border-bottom: 5px solid {{equipo.color}};">
                              <div class="card-image">
                                 <img src="{{url}}{{equipo.ruta_logo}}" ng-if="equipo.ruta_logo" class="img_club">
                                 <i class="material-icons icon_club" ng-if="!equipo.ruta_logo" style="color:{{equipo.color}}">security</i>
                              </div>
                              <div class="card-stacked">
                                    <div class="card-content">
                                        <span class="card-title">{{equipo.nombre}}</span>
                                        <p>{{usuario.usuarios.nombre}} {{usuario.usuarios.apellido}}</p>
                                        <p>Fecha: {{quieroJugar.fecha}}</p>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </li>
                    
                    <li class="collection-item avatar">
                      
                          <i class="material-icons circle green">security</i>
                          <select id="encargado" class="browser-default" ng-model="miEquipo_retador_id" required>
                              <option value="" disabled selected>Mis Equipos</option>
                              <option ng-repeat="dat in miEquipo" value="{{dat.id}}">{{dat.nombre}}</option>
                          </select>
                        
                    </li>
                    
                    
                    <li class="collection-item avatar">
                      
                          <i class="material-icons circle green">business</i>
                          <select id="encargado" class="browser-default" ng-model="lugar_id" required>
                              <option value="" disabled selected>Lugar</option>
                              <option ng-repeat="dat in lugares" value="{{dat.id}}">{{dat.nombre}}</option>
                          </select>
                        
                    </li>
                    
                    <li class="collection-item" >
                        <button  class="waves-effect waves-light btn" ng-disabled="!lugar_id" ng-click="add(lugar_id, miEquipo_retador_id)">
                            Retar
                        </button>
                    </li>
                
                </ul>
            </div>
        </div>
    </div>
</main>