<div data-ng-include src="'templates/partials/sideBarUser.html'"></div>
<main>
    <div class="container"><br>
        <div class="row animated zoomIn" ng-if="item">
            <div class="col m10 s12 offset-m1">
                
                <ul class="collection">
                    <li class="collection-header" style="text-align:center;"><h4>Informacion de reserva</h4></li>
                    <li>
                        <div class="card">
                            
                            <div class="card-image" style="border-left: 2px solid {{item.retadorColor}}; border-right: 2px solid {{item.color}}">
                                <div class="row">
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{item.retadorRuta}}" ng-if="item.retadorRuta" class="card_club">
                                        <i class="material-icons icon_club" ng-if="!item.retadorRuta" style="color:{{item.retadorColor}}">security</i>
                                    </div>
                                     <div class="col s2 m2 " style="text-align: center; padding-top: 58px;">
                                         <img src="img/versus.png"></img>
                                     </div>
                                    <div class="col s5 m5">
                                        <img src="{{url}}{{item.ruta_logo}}" ng-if="item.ruta_logo" class="card_club">
                                        <i class="material-icons icon_club" ng-if="!item.ruta_logo" style="color:{{item.color}}">security</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" style="text-align:center;">
                              <span class="title titulo">{{item.retardorNombre}} Vs {{item.nombre}}</span>
                                <p>{{item.name}} {{item.lastname}}</p>
                                <p>Capitán Retado: {{item.capitanName}} {{item.capitanLastname}}</p>
                                <p>Capitán Retador: {{item.retadorName}} {{item.retadorLastname}}</p>
                                <p>Reserva por: {{item.reservadorName}} {{item.reservadorLastname}}</p>
                            </div>
                        </div>
                    </li>
                    
                    <li class="collection-item avatar">
                      <i class="material-icons circle green">home</i>
                      <span class="title">Lugar</span>
                      <p>{{item.lugar}}</p>
                      
                    </li>
                    <li class="collection-item avatar">
                         <i class="material-icons circle green">radio_button_checked</i>
                         <span class="title">Cancha</span>
                         <p>{{item.cancha}}</p>
                      
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">date_range</i>
                        <span class="title">Fecha</span>
                        <p>{{item.fecha}}</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">timer</i>
                        <span class="title">Tiempo</span>
                        <p>{{item.horaInicio}}-{{item.horaFin}}</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">monetization_on</i>
                        <span class="title">Precio total</span>
                        <p>{{item.precio | currency:$:0}}</p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">check_box</i>
                        <span class="title">Estado</span>
                        <p>{{item.estado}}</p>
                    </li>
                    <li class="collection-item" ng-if="item.estado_reserva_id==3 || item.estado_reserva_id==5 || item.estado_reserva_id==2">
                        <a href="" class="waves-effect waves-light btn" data-target="modal1">
                            Realizar pago
                        </a>
                    </li>
                    <li class="collection-item" ng-if="item.estado_reserva_id==6 && (!item.calificaciones[0].atencion || !item.calificaciones[0].estado_cancha || !item.calificaciones[0].servicio)">
                        <a href="" class="waves-effect waves-light btn" data-target="modal2">
                            Calificar
                        </a>
                    </li>
                    <li class="collection-item avatar" ng-if="item.calificaciones[0].atencion || item.calificaciones[0].estado_cancha || item.calificaciones[0].servicio">
                        <i class="material-icons circle green">star</i>
                        <span class="new badge" data-badge-caption="">Atención: {{item.calificaciones[0].atencion}}</span>
                        <span class="new badge" data-badge-caption="">Servicio: {{item.calificaciones[0].servicio}}</span>
                        <span class="new badge" data-badge-caption="">Cancha: {{item.calificaciones[0].estado_cancha}}</span>
                        <span class="title">Comentarios</span>
                        <p>{{item.calificaciones[0].comentarios}}</p>
                    </li>
                    
                </ul>
            </div>
        </div>
        
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red" href="user/reservar"><i class="material-icons">add</i></a> 
        </div>
        
        
        <div id="modal1" class="modal modal-fixed-footer" >
            <div class="modal-content" >
                <h4 align="center"><img src="img/payment.png"></img></h4>
                <div class="row">
                    <div class="col s12"> 
                        <ul tabs reload="allTabContentLoaded" class="tabs-fixed-width">
                            <li class="tab col s6"><a href="#test1" class="active" ng-click="paymentMethod('tarjeta')">Tarjeta de crédito</a></li>
                            <li class="tab col s6"><a href="#test2" ng-click="paymentMethod('PSE')">PSE</a></li>
                           
                        </ul>
                    </div>
                    
                    <div id="test1" class="col s12 m12 animated fadeInLeftBig">
                        <div class="row">
    
                            <div class="col input-field m6 s6">
                                <select ng-model="data.metodoPago" material-select>
                                    <option selected disabled value="">Tarjeta</option>
                                    <option value="MASTERCARD" >MASTERCARD</option>
                                    <option value="VISA" >VISA</option>
                                    <option value="DINERS" >DINERS CLUB</option>
                               </select>
                            </div>
                            
                            <div class="input-field col s6 m6">
                                <input type="number"  ng-model="data.tarjeta"  id="numero">
                                <label for="numero" >Número tarjeta</label>
                            </div>
                            
                            <div class="input-field col s4 m4">
                                <input type="text"  ng-model="data.codigo" id="cvc" >
                                <label for="cvc" >Código (CVC)</label>
                            </div> 
                            
                            
                            <div class="input-field col s4 m4">
                                <input type="number" ng-model="data.year"  id="year">
                                <label for="year" >Fecha de expiracion</label>
                            </div> 
                            
                            <div class="col input-field m4 s4">
                                <select ng-model="data.mes" material-select>
                                  <option selected disabled value="">Mes</option>
                                  <option ng-repeat="n in [] | range:12" value="{{$index+1}}">{{$index+1}}</option>
                               </select>
                            </div>
                            
                            <div class="input-field col s12 m12">
                                <input type="text" required ng-model="data.nombre"  id="name">
                                <label for="name" >Nombre del titular</label>
                            </div>
                            
                            <div class="col input-field m6 s6" >
                                <select ng-model="data.tipoDocumento" material-select>
                                    <option selected disabled value="">Tipo de documento</option>
                                    <option value="CC">Cedula</option>
                                </select>
                            </div>
                            
                            <div class="input-field col s6 m6">
                                <input type="number" ng-model="data.documento" id="doc">
                                <label for="doc" >Número del documento</label>
                            </div>
                            
                            <div class="input-field col s6 m6">
                                <input type="number" ng-model="data.telefono" id="tel">
                                <label for="tel" >Télefono</label>
                            </div>
                            
                            <div class="input-field col s6 m6">
                                <input type="email"  ng-model="data.email" id="mail">
                                <label for="mail" >Email</label>
                            </div> 
                            
                            <div class="col input-field m6 s6" >
                                <select ng-model="data.departamento" ng-change="municiposload(data.departamento)">
                                  <option selected disabled value="">Departamentos</option>
                                  <option ng-repeat="dat in dptos" value="{{dat.id}}">{{dat.nombre}}</option>
                               </select>
                            </div>
                            
                            <div class="col input-field m6 s6" >
                                <select ng-model="data.ciudad" ng-disabled="!data.departamento">
                                    <option selected disabled value="">Elegir Ciudad</option>
                                    <option ng-repeat="dat in mpios" value="{{dat.id}}">{{dat.nombre}}</option>
                                </select>
                            </div>
                            <div class="col input-field m4 s4 offset-m4" style="text-align: center;">
                                <button align="center" class="btn waves-effect" ng-click="pagar(data)" 
                                        ng-disabled="!data.metodoPago 
                                                  || !data.tarjeta
                                                  || !data.codigo
                                                  || !data.year
                                                  || !data.mes
                                                  || !data.nombre 
                                                  || !data.tipoDocumento 
                                                  || !data.documento 
                                                  || !data.telefono
                                                  || !data.email
                                                  || !data.departamento
                                                  || !data.ciudad"> 
                                  Pagar
                                </button>
                            </div>
                            
                        </div>
                    </div>  
                    
                    <div id="test2" class="col s12 m12 animated fadeInRightBig">
                        
                        <div class="row">
                            <div class="col input-field m6 s6" >
                                <select ng-model="data.banco">
                                    <option selected disabled value="">Bancos</option>
                                    <option ng-repeat="dat in bancos" value="{{dat.pseCode}}">{{dat.description}}</option>
                                </select>
                            </div>
                      
                            <div class="col input-field m6 s6" >
                                <select ng-model="data.tipoCliente" material-select>
                                  <option selected disabled value="">Tipo Cliente</option>
                                  <option value="N">Natural</option>
                               </select>
                            </div>
                            
                            <div class="input-field col s12 m12">
                                <input type="text" required ng-model="data.nombre"  id="name2">
                                <label for="name2" >Nombre del titular</label>
                            </div>
                            
                             <div class="col input-field m6 s6" >
                                <select ng-model="data.tipoDocumento" material-select>
                                    <option selected disabled value="">Tipo de documento</option>
                                    <option value="CC">Cedula</option>
                                </select>
                            </div>
                            
                            <div class="input-field col s6 m6">
                                <input type="number" ng-model="data.documento" id="doc2">
                                <label for="doc2" >Número del documento</label>
                            </div>
                            
                            <div class="input-field col s6 m6">
                                <input type="number" ng-model="data.telefono" id="tel2">
                                <label for="tel2" >Télefono</label>
                            </div>
                            
                            <div class="input-field col s6 m6">
                                <input type="email"  ng-model="data.email" id="mail2">
                                <label for="mail2" >Email</label>
                            </div> 
                            
                            <div class="col input-field m6 s6" >
                                <select ng-model="data.departamento" ng-change="municiposload(data.departamento)">
                                  <option selected disabled value="">Departamentos</option>
                                  <option ng-repeat="dat in dptos" value="{{dat.id}}">{{dat.nombre}}</option>
                               </select>
                            </div>
                            
                            <div class="col input-field m6 s6" >
                                <select ng-model="data.ciudad" ng-disabled="!data.departamento">
                                    <option selected disabled value="">Elegir Ciudad</option>
                                    <option ng-repeat="dat in mpios" value="{{dat.id}}">{{dat.nombre}}</option>
                                </select>
                            </div>
                            
                            <div class="col input-field m4 s4 offset-m4" style="text-align: center;">
                                <button align="center" class="btn waves-effect" ng-click="pagar(data)" 
                                        ng-disabled="!data.banco 
                                                  || !data.tipoCliente 
                                                  || !data.nombre 
                                                  || !data.tipoDocumento 
                                                  || !data.documento 
                                                  || !data.telefono
                                                  || !data.email
                                                  || !data.departamento
                                                  || !data.ciudad">
                                  Pagar
                                </button>
                            </div>
                        </div>
                        
                    </div>  
                    
                    
                    
                </div>
                
    
            </div>
            
            <div class="modal-footer">
                
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
            </div>
        </div>
        
        <div id="modal2" class="modal modal-fixed-footer" >
            <div class="modal-content" >
                <h4 align="center">Calificar el servicio</img></h4>
                <div class="row">
                    <div class="col s4 m4">
                       <p>Atención: <input-stars max="5" ng-model="rating.atencion"></input-stars></p>
                    </div>
                    <div class="col s4 m4">
                        <p>Estado de la cancha: <input-stars max="5" ng-model="rating.estado_cancha"></input-stars></p>
                    </div>
                    <div class="col s4 m4">
                        <p>Servicio: <input-stars max="5" ng-model="rating.servicio"></input-stars></p>
                    </div>
                
                    <div class="input-field col s12">
                        <textarea id="textarea1" maxlength="250" class="materialize-textarea" ng-model="rating.comentarios" data-length="250"></textarea>
                        <label for="textarea1">Comentarios</label>
                        <span class="chip" style="float:right;">{{250-rating.comentarios.length}} <i class="icon ion-chatbubble-working"></i></span>
                    </div>
            
                    <div class="col input-field m4 s4 offset-m8" style="text-align: center;">
                        <button class="btn waves-effect" ng-click="calificar(rating)" ng-disabled="!rating.atencion || !rating.estado_cancha || !rating.servicio">
                          Calificar
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
            </div>
        </div>
        
        <div ng-if="!load" style="text-align:center;">
            <p>
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              </p>
        </div>    
    </div>
</main>
